*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-weight: 300;
}

body {
  font-family: montserrat, sans-serif;
  color: white;
  background-image: url('../assets/bg.jpeg');
  background-size: cover;
  background-position: left; // TODO position left or right on mobile, center on desktop
  background-repeat: no-repeat;
  min-height: 100vh;
}
