.spinner-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fa-solid {
  max-width: 48px;
  max-height: 48px;
  overflow: hidden;
}

.search {
  padding: 3rem 5rem;

  @include respond(tab-land) {
    padding: 3rem;
  }

  &__input {
    background-color: rgba(white, 0.2);
    border: none;
    border-radius: 5px;
    font-family: inherit;
    color: inherit;
    padding: 0.5rem;
    font-size: 1.6rem;
    margin-right: 10px;

    &:focus {
      outline: none;
    }
  }

  &__icon {
    cursor: pointer;
  }
}

.fa-3x {
  width: 3.5rem;
  text-align: center;
}

.container {
  height: 75vh;
  padding: 0 5rem 10rem 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include respond(tab-land) {
    padding: 0 3rem 10rem 3rem;
  }
  @include respond(tab-port) {
    height: 80vh;

    padding-bottom: 3rem;
  }
  @include respond(phone) {
    height: 88vh;
    padding-bottom: 3rem;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4rem;
    gap: 2rem;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;

    @include respond(tab-port) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
}

.info {
  &__right {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    &--details {
      display: flex;
      gap: 0.8rem;
    }
  }
}

.weekday {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  height: 6rem;

  @include respond(tab-port) {
    flex-direction: row;
    width: 80%;
    justify-content: space-between;
  }
  @include respond(phone) {
    height: 5.5rem;
  }

  &__day {
    @include respond(tab-port) {
      width: 12rem;
    }
  }

  &__weather {
    margin-bottom: 1rem;
    @include respond(tab-port) {
      width: 12rem;
      margin-bottom: 0;
      text-align: center;
    }
    @include respond(phone) {
      display: none;
    }
  }

  &__icon {
    width: 10rem;

    @include respond(tab-land) {
      width: 90%;
      height: 90%;
    }
    @include respond(tab-port) {
      width: 6rem;
    }
    @include respond(phone) {
      width: 4rem;
    }
  }

  &__temp-top {
    @include respond(tab-port) {
      width: 14rem;
      text-align: center;
    }
  }

  &__temp-bottom {
    padding-bottom: 2rem;

    @include respond(tab-port) {
      padding-bottom: 0;
    }
  }
}

::placeholder {
  color: #ccc;
}
